<div app-theme>
	<h1>Dark Mode With Angular and CSS</h1>
	<div class="main container">
    This text color should change when you clcik on toggle button. The background-color and text-color of the body will change.
		<div class="innerdiv">
			<p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <span>Select Theme</span>
      <label class="switch">
        <input type="checkbox" (click)="selectTheme()" >
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
